/*home page*/
/* center the logo */
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}
/* nav is the flex container */
nav{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #c6ffc6;
}

/* .navigation is the flex item */
.navigation{
    font-size: 30px;
    width: 300px;  
    height: 50px;  
    padding: 5px;
    background-color: rgb(199 255 148);
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    align-self: center;
}

/* center the image of the members */
.members{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

header{
    background-color: #6ef2d8;
}

/* adjust the position and resize font size of those with class .heading and .info */
.heading{
    margin: 10px;
}

.info{
    margin: 12px;
    font-size: 23px;
}

/* color-code text color according to the members*/
.pink{
    color: #fa0f80;
}

.green{
    color: #18afae;
}

.blue{
    color: #0668e9;
}

.orange{
    color: #ff7200;
}

/* adjust the font size and width for smaller screens */
@media (max-width: 576px) {
    h1{
        font-size: 26px;
    }

    .info{
        font-size: 18px;
    }

    .members{
        width: 90%;
    }

    .navigation {
        font-size: 18px;
        margin: 1px;
        width: 120px;
        height: 40px;
    }
}

/* set the background color of the body and the font-family for the website */
body{
    background-color: #ffe5c7;
    font-family: 'Montserrat', 'M PLUS 1p', 'Noto Serif JP';
}

/* set the font size and position of the footer */
footer{
    font-size: 16px;
    text-align: center;
}



/* history page */
/* center the iframe (for smaller screens)*/
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 17em;
    width: 80%;
}

/* adjust the position of the disclaimer */
.disclaimer{
    text-align: center;
}

/* adjust the width and height of the iframe and font size of disclaimer for larger screens */
@media (min-width: 1200px) {
    iframe {
        width: 55%;
        height: 450px;
    }
    .disclaimer{
        font-size: 20px;
    }
}



/* members page */
/* color-code the background color according to the members */
.minori{
    background-color: #FFCDAC;
}

.haruka{
    background-color: #99CDFF;
}

.airi{
    background-color: #FFA9CC;
}

.shizuku{
    background-color: #9AEEDE;
}

/* adjust the position and resize the character's image */
/* flex-item1 on the left*/
.char-img {
    flex-grow: inherit;
    flex-basis: 37%;
    margin-top: 40px;
}

/* position the character's profile */
/* flex-item2 on the right*/
.profile{
flex-basis: 55%;
padding: 2%;
}

/* flex container */
.container {
display: flex;
flex-flow: wrap;
width: 100%;
height: auto;
}

/* change the display for smaller screens, 
set flex-item1 to the top, while flex-item2 to the bottom */
@media (max-width: 576px) {
  .char-img {
    padding: 5%;
    flex-basis: 100%;
  }

  .profile{
    flex-basis: 100%;
  }

}

/* center the image */
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}



/* music page */
/* flex container */
.song-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* flex item of 20% per item */
.flex-song-item {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 20%; /* this creates how many columns of items can be occupied depending on the space taken up by one.*/
    display: flex;
    flex-direction: column;
    border: 3px solid #e4e4e4;
    background-color: #fffafa;
    margin: 1.2%;
}

/* size the image and add border */
.flex-song-img img{
    width: 100%;
    height: auto;
    border: 2px solid #e4e4e4;
}

/* set the font size of the song information */
.flex-song-info {
    font-size: 20px;
}

/* adjust for smaller screens by increasing the size 
for only 1 song to be seen on the screen at a time*/
@media (max-width: 576px) {
    .flex-song-item {
      flex: 1 60%;
      flex-grow: inherit;
    }
}

/* Class to hide items */
.hidden {
    display: none; 
}